<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3> Configura tu cuenta </h3>

                <h6> Estos valores solo se aplicaran cuando se sincronice por primera vez , y cuando por alguna razon
                se desactualice en refresh-token </h6>

                <h4> Token </h4>
                <input type="text" name="" id="">
                <h4> Refresh Token </h4>
                <input type="text" name="" id="">
                   <h4> Client ID </h4>
                <input type="text" name="" id="">
                   <h4> Client Secret </h4>
                <input type="text" name="" id="">
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>